# Pandas - working with columns of a data frame

In [ ]:
import pandas as pd

#read  data from csv file into pandas data frame
df = pd.read_csv('Covid Live.csv')

#look at the top five lines
df.head()

Let's find out how to reload the file without the index column:

In [ ]:
help(pd.read_csv)

In [ ]:
df = pd.read_csv("Covid Live.csv", index_col=0)
df.head()

In [ ]:
#let's have a closer look at the column names. There's something strange there.
print(df.columns)

In the column names the \n is annoying. Let's get rid of it!

In [ ]:
#use list comprehension
col_names = [???   for ??? in df.columns]

#now replace the column names with the corrected version
df.columns = ???

#check that it has worked
df.head(3)

What is the shape of the data frame?

What are the data types we see in the different columns? Use *dtpyes* to find out.

In [ ]:
df.dtypes

So all the columns contain strings, apart from 'New Deaths'. We won't be able to do any calculations like that. <br>
Let's look first at 'New Deaths'. The first few values are all NaN's. What does the whole column look like?

In [ ]:
#print out 'New Deaths' column
print(???)

How can we be sure if there is any data there at all? Is the whole column full of NaN's? Maybe *describe* method can help?

We can look at the rows that have no missing values by using *dropna* but it won't leave us much to work on, so this column isn't going to be very helpful.

In [ ]:
print(df.dropna())

Maybe we can just get rid of this column then...We can use *drop* with argument *axis=1*

In [ ]:
#in a data frame axis=0 refers to a row and axis=1 refers to a column
df =df.drop( ??? ,axis=1)

#check that it has worked
df.head()

Now we need to convert all the strings, apart from the Country names, to integers, but we have to get rid of all the commas first.<br>
Loop over all the columns apart from Country, get rid of commas with *str.replace* and convert strings to numbers with *pd.to_numeric*

In [ ]:
#for loop over columns
for ??? in ???:
    ???

#check that it has worked!
df.head(3)
df.dtype

At last we can do some calculations!<br>
How can we find the percentage of covid cases out of the world population?<br>

Maybe we can calculate the percentage of deaths out of of all cases in the world?

Now we will use *sort_values* to sort the data frame by the  "Deaths/ 1M pop" column

Which country has done the most tests per million ? Use *sort_values* with argument *ascending = False*

We have only looked at column manipulation so far, but can you work out how to get the row where 'Country, Other' is Israel?