# Lambda, groupby and datetime.

In [1]:
# Import Pandas and NumPy
import pandas as pd
import numpy as np

In [2]:
# Import the data from file 'Ecommerce_Purchases.csv' and print the first 3 rows
#run cell
df = pd.read_csv('Ecommerce_Purchases.csv')
df.head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

## pd.apply() with lambda

In [3]:
# How may people with credit card expiry date in 2025 are there? Use apply function with lambda.

df["CC Exp Date"].apply(lambda x: '25' in x).sum()

1033

In [4]:
# What are the top 5 emails domains?

df['Email'].apply(lambda x: x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

#### What is the browser most people use?

In [12]:
# CODE HERE
browser_type = df['Browser Info'].apply(lambda x:x.split('/')[0])
browser_type.value_counts().index[0]

'Mozilla'

#### let's make a new column with browser type - we will use this later

In [11]:
#CODE HERE
df['browser type'] = browser_type
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,browser type
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,Opera
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,Opera
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,Mozilla
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,Mozilla
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,Opera

####  How many people are managers ?
Hint: it might be written as Manager/MANAGER/manager as part of a job title

In [17]:
# Option 1 - using apply() with lambda
# CODE HERE
df['Job'].apply(lambda x: ('manager' or 'Manager' or 'MANAGER') in x).sum()

785

In [27]:
# Option 2 - using list comprehension
# CODE HERE
sum([True for job in df['Job'] if 'manager' in job.lower()])

785

## groupby()

#### We have used value_counts() several times, for example

In [28]:
df['CC Provider'].value_counts()

JCB 16 digit                   1716
VISA 16 digit                  1715
JCB 15 digit                    868
American Express                849
Maestro                         846
Voyager                         829
Discover                        817
Mastercard                      816
VISA 13 digit                   777
Diners Club / Carte Blanche     767
Name: CC Provider, dtype: int64

#### Run to see what this does

In [29]:
df.groupby('CC Provider').size()

CC Provider
American Express                849
Diners Club / Carte Blanche     767
Discover                        817
JCB 15 digit                    868
JCB 16 digit                   1716
Maestro                         846
Mastercard                      816
VISA 13 digit                   777
VISA 16 digit                  1715
Voyager                         829
dtype: int64

#### How can we use groupby to get the same result as value_counts()?

In [31]:
#CODE HERE
df.groupby('CC Provider').size().sort_values(ascending = 0)

CC Provider
JCB 16 digit                   1716
VISA 16 digit                  1715
JCB 15 digit                    868
American Express                849
Maestro                         846
Voyager                         829
Discover                        817
Mastercard                      816
VISA 13 digit                   777
Diners Club / Carte Blanche     767
dtype: int64

#### What do we get using count() instead of size()

In [32]:
# CODE HERE
df.groupby('CC Provider').count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,Email,Job,IP Address,Language,Purchase Price,browser type
CC Provider,,,,,,,,,,,,,,
American Express,849,849,849,849,849,849,849,849,849,849,849,849,849,849
Diners Club / Carte Blanche,767,767,767,767,767,767,767,767,767,767,767,767,767,767
Discover,817,817,817,817,817,817,817,817,817,817,817,817,817,817
JCB 15 digit,868,868,868,868,868,868,868,868,868,868,868,868,868,868
JCB 16 digit,1716,1716,1716,1716,1716,1716,1716,1716,1716,1716,1716,1716,1716,1716
Maestro,846,846,846,846,846,846,846,846,846,846,846,846,846,846
Mastercard,816,816,816,816,816,816,816,816,816,816,816,816,816,816
VISA 13 digit,777,777,777,777,777,777,777,777,777,777,777,777,777,777
VISA 16 digit,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715,1715
Voyager,829,829,829,829,829,829,829,829,829,829,829,829,829,829

#### Groupby can do more than count - find out what is the average purchase price for each credit card provider.

In [38]:
#CODE HERE
df.groupby('CC Provider')['Purchase Price'].mean()

CC Provider
American Express               50.489423
Diners Club / Carte Blanche    48.733233
Discover                       51.662338
JCB 15 digit                   51.125115
JCB 16 digit                   49.299143
Maestro                        50.379173
Mastercard                     50.043015
VISA 13 digit                  51.449858
VISA 16 digit                  49.871055
Voyager                        51.973185
Name: Purchase Price, dtype: float64

#### Can you get the first email address in each group by credit card provider?

In [44]:
#CODE HERE
df.groupby('CC Provider')['Email'].first()

CC Provider
American Express                  qcoleman@hunt-huerta.com
Diners Club / Carte Blanche    christopherwright@gmail.com
Discover                       brent16@olson-robinson.info
JCB 15 digit                      johnnymiller@coleman.com
JCB 16 digit                             pdunlap@yahoo.com
Maestro                             zstephenson@smith.info
Mastercard                              anthony41@reed.com
VISA 13 digit                         phillip48@parks.info
VISA 16 digit                           olivia04@yahoo.com
Voyager                               ustewart@hotmail.com
Name: Email, dtype: object

### and now the second

In [55]:
df.groupby('CC Provider')['Email'].apply(lambda x: x.iloc[1])

CC Provider
American Express                       stacymitchell@hall.com
Diners Club / Carte Blanche                amanda39@yahoo.com
Discover                                    ynguyen@gmail.com
JCB 15 digit                                james07@yahoo.com
JCB 16 digit                   amymiller@morales-harrison.com
Maestro                                  stonekaren@yahoo.com
Mastercard                                 hannah63@yahoo.com
VISA 13 digit                     ltaylor@gardner-meadows.com
VISA 16 digit                               tholt@hotmail.com
Voyager                                  madison41@mooney.com
Name: Email, dtype: object

#### Write a function that finds the second largest number in a series and then use it  in each CC Provider group.

In [59]:
def second(ser):
     return ser.nlargest(2).iloc[1]
    
#CODE HERE

In [61]:
df.groupby('CC Provider')['Purchase Price'].agg(second)

CC Provider
American Express               99.85
Diners Club / Carte Blanche    99.69
Discover                       99.86
JCB 15 digit                   99.79
JCB 16 digit                   99.90
Maestro                        99.86
Mastercard                     99.92
VISA 13 digit                  99.70
VISA 16 digit                  99.90
Voyager                        99.71
Name: Purchase Price, dtype: float64

#### Find the miniumum and maximum  purchase price in each group

In [62]:
# use agg() on a list  to run more than one method after grouping.
#CODE HERE
df.groupby('CC Provider')['Purchase Price'].agg([min , max])

                              min    max
CC Provider
American Express             0.07  99.97
Diners Club / Carte Blanche  0.04  99.90
Discover                     0.00  99.88
JCB 15 digit                 0.20  99.95
JCB 16 digit                 0.19  99.91
Maestro                      0.16  99.99
Mastercard                   0.02  99.93
VISA 13 digit                0.14  99.75
VISA 16 digit                0.00  99.99
Voyager                      0.03  99.92

#### Now find the minimum, maximum and mean price in each group

In [68]:
# hint: agg only uses base python functions unless you tell it otherwise
#CODE HERE
df.groupby('CC Provider')['Purchase Price'].agg([min,max,np.mean])

                              min    max       mean
CC Provider
American Express             0.07  99.97  50.489423
Diners Club / Carte Blanche  0.04  99.90  48.733233
Discover                     0.00  99.88  51.662338
JCB 15 digit                 0.20  99.95  51.125115
JCB 16 digit                 0.19  99.91  49.299143
Maestro                      0.16  99.99  50.379173
Mastercard                   0.02  99.93  50.043015
VISA 13 digit                0.14  99.75  51.449858
VISA 16 digit                0.00  99.99  49.871055
Voyager                      0.03  99.92  51.973185

#### Groupby can group by more than one criterion. Find the minimum and maximum of each CC Provider and Browser Type group.

In [72]:
#CODE HERE
df.groupby(['CC Provider','browser type']).size()

CC Provider                  browser type
American Express             Mozilla          677
                             Opera            172
Diners Club / Carte Blanche  Mozilla          601
                             Opera            166
Discover                     Mozilla          663
                             Opera            154
JCB 15 digit                 Mozilla          704
                             Opera            164
JCB 16 digit                 Mozilla         1355
                             Opera            361
Maestro                      Mozilla          668
                             Opera            178
Mastercard                   Mozilla          639
                             Opera            177
VISA 13 digit                Mozilla          596
                             Opera            181
VISA 16 digit                Mozilla         1358
                             Opera            357
Voyager                      Mozilla          663
                             Opera            166
dtype: int64

#### The last table has a multi index. It is not easy to work with that. To 'flatten' the table with one index use reset_index()

In [74]:
#run this cell
df.groupby(['CC Provider','browser type'])['Purchase Price'].agg([min,max]).reset_index()

                    CC Provider browser type   min    max
0              American Express      Mozilla  0.07  99.97
1              American Express        Opera  0.71  99.81
2   Diners Club / Carte Blanche      Mozilla  0.04  99.90
3   Diners Club / Carte Blanche        Opera  0.32  98.25
4                      Discover      Mozilla  0.00  99.86
5                      Discover        Opera  0.38  99.88
6                  JCB 15 digit      Mozilla  0.20  99.95
7                  JCB 15 digit        Opera  0.43  98.75
8                  JCB 16 digit      Mozilla  0.20  99.91
9                  JCB 16 digit        Opera  0.19  99.50
10                      Maestro      Mozilla  0.16  99.99
11                      Maestro        Opera  0.64  99.59
12                   Mastercard      Mozilla  0.02  99.93
13                   Mastercard        Opera  0.90  98.76
14                VISA 13 digit      Mozilla  0.14  99.70
15                VISA 13 digit        Opera  0.74  99.75
16                VISA 16 digit      Mozilla  0.00  99.99
17                VISA 16 digit        Opera  0.31  99.90
18                      Voyager      Mozilla  0.03  99.92
19                      Voyager        Opera  0.50  98.96

## Dates and Times

### In Base Python

In [75]:
from datetime import date, time, datetime , timedelta
from dateutil import tz

In [76]:
#run cell
today = date.today()
today

datetime.date(2022, 11, 29)

In [77]:
#run cell
print(today.year)
print(today.month)
print(today.day)

2022
11
29

In [78]:
#run cell
now = datetime.now()
now

datetime.datetime(2022, 11, 29, 17, 23, 47, 334314)

In [79]:
#run cell
print(now.hour)
print(now.minute)
print(now.second)

17
23
47

In [80]:
#run cell
now = datetime.now(tz=tz.tzlocal())
now

datetime.datetime(2022, 11, 29, 17, 27, 11, 567295, tzinfo=tzlocal())

In [81]:
#run cell
now.tzname()

'  '

In [82]:
#run cell
now = datetime.now(tz=tz.gettz('Europe/Paris'))
print(now)

2022-11-29 16:27:20.439281+01:00

#### Create a date for tomorrow using today plus a 'timedelta' of one day

In [ ]:
#CODE HERE

#### How about the date one month from now?

In [ ]:
#CODE HERE

#hint: timedelta can be seconds, minutes, hours and days

#### How long until the end of the lesson?

In [ ]:
#CODE HERE

### In Numpy

In [ ]:
# run cell
end = np.datetime64('2022-11-29 17:30')
end

#### What do you think this does?

In [ ]:
year = np.datetime64(end,"Y")
hour = np.datetime64(end,"h")
print(year)
print(hour)

#### So if you really want to extract the hour you will need to convert to regular Python datetime using astype(object)

In [ ]:
#CODE HERE

#### In NumPy you can use timedelta64

In [ ]:
# add an hour to the end of the lesson
# CODE HERE

#### Make an array of all dates between 29.11.2022 and 12.12.2022 using np.arange

In [ ]:
#CODE HERE

#### Next time we'll do dates and times in Pandas too....